<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>These are Sammer's <%= greeting %></p>
    <a href="/skills">View Developer Skills</a>
  </body>
</html>
